$colors: (
  'white': #ffffff,
  'black': #000000,
  'gray': #cacaca,
  'light-gray': #f1f3f5,
  'blue': #0600ff,
);

$spacing-units: (0rem, 0.25rem, 0.375rem, 0.5rem, 0.75rem, 1rem, 1.5rem, 2rem, 3rem, 4rem, 6rem, 8rem);
