body {
  font-family: "Times";
  font-size: 16px;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Arial";
}
